

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left:20px;
}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: lightblue;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}






