body {
    background-color: gray;
}

h1 {
    color: navy;
    margin-left:20px;
}

a:link {
    color: blue;   
    text-decoration: none;
}


a:visited {
    color: lightblue;
    text-decoration: none;
}


a:hover {
    color: red;
    text-decoration: underline;
}


a:active {
    color: red;
    text-decoration: underline;
}



    



    







